body{
    height: 100vh;
}

.btn {
    border-color: #F95738 !important;
    color: #F95738;
}

.nav-link {
    color: #0d3b66 !important;
}

#sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    max-width: 14vw !important;
    background-color: #f4d35e;
}

#sidebar .nav-item{
    padding: 6px !important;
}

.vertical-nav{
    margin-top: 8vh !important;
}

/* footer */

.footer{
    z-index: 1000000;
}
