@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: #F4D35E;
    padding: 1.5em;
}
.btn {
    border-color: #F95738 !important;
    color: #F95738;
}

.nav-link {
    color: #0d3b66 !important;
}